button{
    color: white;
    background-color: rgb(1, 82, 187);
    width: 100px;
    padding: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 50px;
    margin-right: 50px;
}
input{
    width: 300px;
    font-size: 30px;
}
#salir{
    background-color: rgb(197, 17, 17);
}

body{
    text-align: center;
    padding-top: 60px;
    background-color: rgb(255, 254, 198);
}