#cabezera{
    text-align: center;
    font-size: 40px;
}
body{
    background-image: url("http://www.geocities.ws/mercuriusyelrincon/Fondo_C.gif");
}
#caja{
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-style:groove;
    background-color: rgb(255, 255, 255);
    margin-left: 250px;
    margin-right: 250px;
}
#encabezado{
    background-color: rgb(106, 177, 235);
    float: right;
    width: 100%;
    
}
.iconos{
    width: 30px;
    float: left;
    margin-right: 10px;
}
#foto{
    border-radius:150px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-style:groove;
    width: 150px;
    margin: 20px;
    float: left;
}
#nombre{
    font-size: 40px;
    float: left;
    margin-top: 60px;
}
#situacion{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 100;
    margin-left: 230px;
}

.titulos{
    margin-left: 20px;
    font-weight: bold;
    font-size: 30px;
    text-decoration: underline;
}

.miniTitulos{
    margin-left: 30px;
    font-weight: bold;
    font-style: oblique;
    font-size: 25px;
    
}
.info{
    font-size: 16px;
    margin-left: 50px;
    margin-top: 20px;
}

.izq{
    float: left;
}
.der{
    margin-right: 160px;
}
.listas{
    margin-bottom: 15px;
}