<div id="cuerpo">
  </div><h1 id="titulo"> Contacta con nosotros</h1>
<div>
  <div class="cajitas" id="email">
    <h1>¿Como contactar con nosotros?</h1>
    <p>Puedes escribirnos un correo, aunque conociendonos no os contestaremos(pereza).</p>
    <p>Email de contacto: {{email}}</p>
  </div>
  <div class="cajitas" id="movil">
    <h1>¿Telefono de contacto?</h1>
    <p>Puede contactar con nostros las 24 horas del dia durante toda la semana, menos de lunes a domingo.</p>
      <p>Llama al teléfono: {{telefono}}</p>
  </div>
  <div class="cajitas" id="lugar">
     <h1>¿Donde nos encontramos?</h1>
     <p> Puedes encontrarnos en {{sitio}}, un lugar precioso a la par que imaginario. </p>
  </div>
  
  
 
</div>

