<div id="cuerpo">
<div class="tarjeta" id="QS">
  <h1 id="titulo">¿Quienes somos?</h1>
  <hr>
  <p>Somos una empresa inventada que no vale para absolutamente nada, 
    pero si quieres aportar dinero contacta con nosotros <a routerLink="/contacto"> Pinchando aqui.</a></p>
</div>
<div class="tarjeta"id="QO">
  <h1 id="titulo" >¿Qué ofrecemos?</h1>
  <hr>
  <p>No os vamos a mentir. No ofremos gran cosa. En nuestra página podras ver una lista de juegos 
    y su información. No vale para mucho. Pero esta guay
  </p>
</div>


</div>

